body {
    color: #fff;
    margin: 0;
    background-color: #666;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
}

.wrapper{
    flex-grow: 1;
}

input[name=navigation]{ display: none; }

div {
    clear: both;
    padding: 1em;
}

/**
* Styles processing navigation in the application
*/

label {
    cursor: pointer;
    display: block;
    float: left;
    width: 33.33%;
    text-align: center;
    text-shadow: 0 1px 1px #000;
    text-decoration: none;
    font-size: 120%;
    border-bottom: 1px solid #555;
    line-height: 3;
    transition: 300ms;
}

label:hover, #_play_bttn:checked ~ [for=_play_bttn], #_score_bttn:checked ~ [for=_score_bttn], #_about_bttn:checked ~ [for=_about_bttn] {
    background-color: rgba(255, 255, 255, 0.1);
    -ms-transform: scale(1,1.2);
    -webkit-transform: scale(1,1.2);
    transform: scale(1,1.2);
}

#paddle {
    display: block;
    width: 33.33%;
    height: 4px;
    background-color: #29516D;
    position: relative;
    top: -3px;
    left: -100%;
    clear: both;
    transition: 300ms;
}

#_play_bttn:not(:checked) ~ section #_play, #_score_bttn:not(:checked) ~ section #_score, #_about_bttn:not(:checked) ~ section #_about {
    display: none;
}

#_play_bttn:checked ~ span { left: 0; }
#_score_bttn:checked ~ span { left: 33.33%; }
#_about_bttn:checked ~ span { left: 66.67%; }

#_play, #_score, #_about, footer{
    display: flex;
    flex-direction: column;
    align-items: center;
}


/**
* Styling actual components
*/

#_about{
    padding: 3em;
    font-size: 2em;
}


input[type=text] {
    padding: 0 10px;
    width: 300px;
    height: 40px;
    color: #fff;
    text-shadow: 1px 1px 1px black;
    background: rgba(0, 0, 0, 0.16);
    border: 0;
    border-radius: 5px;
    -webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.06);
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.06);
}
input[type=text]:focus{
    color: white;
    background: rgba(0, 0, 0, 0.1);
    outline: 0;
}

footer{
    padding: 10px;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.shown{
    display: block;
}

#_submit_bttn{
    padding: 15px 32px;
    font-size: 16px;
    margin: 4px 2px;
}

#_restart_bttn{
    
    font-size: 13px;
    padding: 10px;
    display: none;
}

.display{
    display: block;
}

.hide{
    display: none;
}

.themeBttn{
    background-color: #29516D;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

.themeBttn:hover{
    background-color: #486D88;
}

/*
Styles for offline / online events
*/

#status {
    display: flex;
    justify-content: center;
    width: 100%;
    font: bold 1em sans-serif;
    color: #FFF;
    padding: 0.5em;
}

 /*circle {
        fill-opacity: 0.5;
        stroke-width: 4;
        fill: #3080d0;
        stroke: #3080d0;
        }*/

@media (max-width: 700px) {
    #_play > canvas{
        height: 75%;
        width: 75%;
    }

    body{
        font-size: 12px;
    }

    #size{
        font-size: 10px;
    }

    #_about{
    padding: 0.5em;
    font-size: 1.5em;
}
}